* {
    text-align: center;
}

body {
    background-color: #fafafa;
}
.content {
    margin: 0 auto;
}
.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: white;
    padding: 50px 50px 10px 50px;
    border: solid #E6E6E6 1px;
}

.login-container .login-logo {
    margin-bottom: 50px;
}

.login-container input {
    text-align: left;
    font-weight: 400;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-indent: 10px;
    background-color: #fafafa;
    border: solid #E6E6E6 1px;
    border-radius: 4px;
}
  
.login-container button {
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: #C5E1FA;
    color: white;
    border: none;
    border-radius: 4px;
}

.login-container .forgot {
    font-size: 13px;
    color: #043667;
    font-weight: bold;
}
  